<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📊</text></svg>"
    />
    <.live_title suffix="">
      <%= assigns[:page_title] || "Phoenix Analytics" %>
    </.live_title>

    <style>
      <%= raw get_content(:css) %>
    </style>
    <script>
      <%= raw get_content(:js) %>
    </script>
  </head>

  <body class="bg-background text-foreground">
    <%= @inner_content %>
  </body>
</html>
